asyncpg
sqlalchemy[asyncio]
alembic
uvicorn[standard]
fastapi
websockets
httpx
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
pyotp
email-validator
pytest
aiosmtplib
Jinja2
python-dotenv